<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.refactor_type %>menu item</title>
    <link rel='stylesheet' href='/styles/index.css'/>
</head>
<body>
    <main class='main-section'>
    <h1 class='centered-text'><%= locals.refactor_type %> Menu Item</h1>
    <form class='form'>
        <div class='input-field'>
          <label
            for='item_name'>
            Product Name
          </label>
            <input
              type='text'
              name='item_name'
              value="<%= locals.edit_item ? edit_item.name : '' %>"
              class='form-input'
              placeholder='Example'
              required/>
        </div>

        <div class='input-field'>
            <label for='price'>Price</label>

            <input
                type='number'
                name='price'
                value="<%= locals.edit_item ? edit_item.price : 0 %>"
                class='form-input'
                required/>
        </div>

        <div class='input-field'>
            <label for='description'>Item Description</label>
            
            <input
                type='text'
                name='description'
                value="<%= locals.edit_item ? edit_item.description : '' %>"
                class='form-input'
                placeholder='Description of item'
                required/>
        </div>

        <div class='input-field'>
            <label for='amount_in_stock'>Amount in stock</label>

            <input
                type='number'
                name='amount_in_stock'
                value='<%= locals.edit_item ? edit_item.amount_in_stock : 0 %>'
                class='form-input'
                required/>
        </div>

        <% if(locals.error_message) { %>
            <p class="warning-text"><%= locals.error_message %></p>
        <% } // if locals.error message %>
        <div class='buttons'>
            <input
                type='submit'
                value='Submit'
                formmethod='POST'
                formaction='<%= locals.post_url %>'
                class='page-button regular'/>
            <a
                class="page-button regular secondary"
                href="/dashboard/menu-items">
                Cancel
            </a>
        </div>
    </form>
    </main>
</body>
</html>