<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CityCube Admin Dashboard</title>
    <link rel='stylesheet' href='/styles/index.css'/>
</head>
<body>
    <h1 class='centered-text'>Menu Items</h1>
    <table class='menu-items-table'>
        <tr>
            <th>Item ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Functions</th>
        </tr>
        <% if (locals.display_items !== undefined ||
                locals.display_items !== null) { 
                for(let i = 0; i < display_items.length; i++) { %>
                    <tr>
                        <td><%= display_items[i].item_id %></td>
                        <td><%= display_items[i].name %></td>
                        <td><%= display_items[i].price %></td>
                        <td><%= display_items[i].description %></td>
                        <td><%= display_items[i].amount_in_stock %></td>
                        <td>
                            <form>
                                <input type='submit' 
                                    value = 'X' 
                                    class='page-button regular'
                                    formmethod='GET'
                                    formaction='<%= `/dashboard/menu-items/${display_items[i].item_id}/delete` %>'/>
                                <input type='submit'
                                    value='E'
                                    class='page-button regular'
                                    formaction='<%= `/dashboard/menu-items/${display_items[i].item_id}/edit` %>'
                                    formmethod='GET'>
                            </form>
                        </td>
                    </tr>
               <% } // for loop %>
            <% } //if statement %>
    </table>
    <form class='buttons'>
        <input 
            type='submit'
            formmethod='GET'
            formaction='/dashboard/menu-items/add'
            value='Add new' 
            class='page-button regular'/>
        <input
            type='submit'
            formmethod='GET'
            formaction='/dashboard'
            value='Return'
            class='page-button secondary'/>
    </form>
</body>
</html>